<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}DEVOUR IT!{{else}}MAKE ANONTHER, PLEASE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
